[submodule "src/app/authentication"]
	path = src/app/authentication
	url = git@github.com:authentication.git
[submodule "src/app/not-found"]
	path = src/app/not-found
	url = git@github.com:not-found.git
